<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% if (pageTitle == false) { %>
    <title>NBA Utilities</title>
  <% } else { %>
    <title><%= pageTitle %> - NBA Utilities </title>
  <% } %>
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/variables.css">