<div class="header">
  <% if (headerTitle == false) { %>
    <h1 class="heading">NBA Utilities</h1>
  <% } else { %>
    <h3 class="sub-heading">NBA Utilities</h3>
    <h1 class="heading"><%= headerTitle %></h1>
  <% } %>
</div>