<%- include('./includes/head.ejs') %>
</head>
<body>
  <%- include('./includes/header.ejs') %>
  <div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum, quam harum, corporis debitis temporibus, officia facilis laboriosam aut incidunt necessitatibus itaque a. Perferendis, sed ea expedita doloremque assumenda deleniti nostrum, commodi voluptates beatae maxime quia ipsa natus fuga quam! Esse totam blanditiis distinctio molestiae illum, alias perferendis pariatur tempore.
  </div>
</body>
</html>