
select {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 1em;
    padding: 10px;
    background-color: var(--main-colour);
    border: 2px solid #fff;
    box-shadow: var(--shadow);
}

.submit-button {
    color: white;
    font-size: 2em;
    background-color: var(--secondary-colour);
    border: 3px solid white;
    margin-top: 15px;
    margin-bottom: 15px;
}
.submit-button:hover {
    cursor: pointer;
}

.options {
    display: grid;
    grid-template: 1fr / 25% 75%;
}

form {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-column-gap: 10px;
}

@media screen and (max-width: 770px) {
    form {
        grid-template: 1fr 1fr / 1fr;
    }
}
@media screen and (max-width: 510px) {
    .options {
        grid-template: 1fr 1fr / 1fr;
    }
    .options-title {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}